footer {
  padding: 1.5rem 0;
  background-color: var(--md-sys-color-surface-container);
  font-size: 0.9rem;
  
  h3 {
    margin: 1rem 0;
  }
  
  p {
    margin: 0.5rem 0;
  }
  
  #footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
  }
}
