/// ETML
/// Author: Sebastien Tille
/// Date: December 6th, 2025
/// Description: This partial defines the card elements used for previews and 
/// lists.

// Default preview container (homepage)
.preview {
  height: 30ch;
  margin: 2ch 0;
  gap: $gap-small;
  
  border-radius: $border-radius-large;
  background-color: var(--md-sys-color-surface-container);
  cursor: pointer;

  // Book covers
  img {
    height: $preview-image-height;
    aspect-ratio: $preview-cover-aspect-ratio;
    object-fit: cover;
    border-top-left-radius: $border-radius-large;
    border-bottom-left-radius: $border-radius-large;
  }

  .cover {
    flex-shrink: 0;
  }
}

// Compact preview container (browse, rating)
.preview.compact {
  height: $preview-height-compact;

  h2 {
    margin: 0;
    font-size: 1rem;
  }

  p {
    margin: 0;
  }

  img {
    height: $preview-height-compact;
  }

  .preview-about {
    display: flex row;
    align-items: end;
  }

  .preview-content {
    height: $preview-height-compact;
  }
}

// Preview text (title, author, genre, average rating, added by label, details)
.preview-content {
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  height: auto;
}

// Title, author and genre
.preview-about {
  max-width: 65ch;

  h2 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}

// Contains the community elements of the preview (average, aded by text, 
// details url)
.preview-community {
  height: fit-content;
  gap: $gap-small;
  width: 100%;
}