/// ETML
/// Author: Sebastien Tille
/// Date: December 6th, 2025
/// Description: This partial defines Material 3 inspired dropdowns. Due to
/// browser limitations, the padding and hover color cannot be changed.

// Common dropdown properties
.md-select {
  width: 17ch;
  border: none;
  border-radius: $border-radius-large;
  padding: 0.5rem 0.75rem;
  transition: all $transition-short;

  &:hover {
    cursor: pointer;
  }

  >option {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);

    &:checked,
    &:hover {
      box-shadow: 0 0 10px 100px var(--md-sys-color-on-secondary) inset;
      color: var(--md-sys-color-on-secondary-container);
    }
  }

  &:focus {
    > option:checked {
      background: var(--md-sys-color-on-secondary) !important;
      color: var(--md-sys-color-on-secondary-container);
    }
  }
}

// Using secondary colors
.md-select.secondary {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);

  &:hover {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
  }
}