/// ETML
/// Author: Sebastien Tille
/// Date: December 6th, 2025
/// Description: This partial defines the styles for filters.

// Search filters
.filter {
    justify-content: space-between;
    align-items: center;
}

.filter-search,
.filter-category {
    align-items: center;
    gap: $gap-smallest;
}