/// ETML
/// Author: Sebastien Tille
/// Date: December 6th, 2025
/// Description: This partial defines the styles for forms.

// Addition / edition form
.submission-container {
  padding: $gap-small;
  width: 100%;
  background: var(--md-sys-color-surface-container);
  
  .label-input {
    display: flex;
    flex-flow: column wrap;
    margin: 0.5ch 0;
  }
}

// Larger forms (addition, edition)
.large-form {
  gap: $gap-small;
}

form label {
  font-size: 0.75rem;
}