// Addition / edition form
.submission-container {
  padding: $gap-small;
  width: 100%;
  background: var(--md-sys-color-surface-container);
  
  .label-input {
    display: flex;
    flex-flow: column wrap;
    margin: 0.5ch 0;
  }
}

.large-form {
  gap: $gap-small;
}

form label {
  font-size: 0.75rem;
}