/* Heavily inspired by
https://codepen.io/sdthornton/pen/wBZdXq */
.shadow {
  box-shadow: 0 6px 6px var(--shadow-faint);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-hover:hover {
  box-shadow: 0 0 2ch var(--shadow-faint), 0 10px 10px var(--shadow-strong);
}