// Colors
$shadow-default: rgba(0, 0, 0, 0.1);
$shadow-faint: rgba(0, 0, 0, 0.1);
$shadow-strong: rgba(0, 0, 0, 0.2);

// Icons
$icon-button-size: 1rem;

// Layout
$navigation-height: 8ch;

// Rounded corners
$border-radius-small: 4px;
$border-radius-large: 10px;

// Transitions
$transision-shortest: 0.15s;
$transition-short: 0.2s;
$transition-long: 0.5s;