/// ETML
/// Author: Sebastien Tille
/// Date: December 6th, 2025
/// Description: This partial defines the styling that is common to all pages.

html, body {
  background-color: var(--md-sys-color-surface);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

// Content limited to 90ch to prevent the application from becoming hard to read
// on wider aspect ratios.
main {
  margin: 2em auto;
  padding-top: $navigation-height;
  width: $content-max-width;
}

h1 {
  margin: 2rem 0;
  text-align: center;
}

a {
  text-decoration: none;
  position: relative;
  color: var(--md-sys-color-primary);
}

a:not(.clickable-image, .md-button):after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: var(--md-sys-color-primary);
  transition: 0.2s;
}

a:not(.clickable-image, .md-button):hover::after,
a:not(.clickable-image, .md-button):focus::after {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  main {
    max-width: 98vw;
  }
}