/// ETML
/// Author: Sebastien Tille
/// Date: December 6th, 2025
/// Description: This partial defines styles specific to the user profile page.

// Fit the image as best as possible
.profile-picture {
  object-fit: cover;
  height: $profile-pic-height;
  max-width: $profile-pic-max-width;
}

.profile-overview {
  background-color: var(--md-sys-color-surface-container);
  align-items: center;
  gap: $gap-medium;
}

.profile-overview p,
.profile-overview h2 {
  margin: 0.5rem 0;
  padding: 0;
}